.container {
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
}

.input {
    padding: 10px;
    box-shadow: 0 0 0 2px rgb(139, 100, 41);
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

button {
    outline: none;
    background: none;
    border: none;
    padding: 10px;
    background-color: burlywood;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}